 <?xml version="1.0" encoding="UTF-8"?>


 <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="info.kyorohiro.hello"
    version="0.0.1">
    <name>TinyHello Plugin</name>
    <description>xxx</description>
    <license>Apache 2.0</license>
    <keywords>cordova,hello</keywords>
    <repo>https://github.com/kyorohiro/test_cordova.git</repo>

    <!--js-module src="www/tinybeacon.js" name="TinyBeacon">
      <merges target="cordova.plugins"/>
    </js-module-->
    <preference name="URL_SCHEME" />
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Hello">
                <param name="android-package" value="info.kyorohiro.hello.TinyCordovaPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
          <uses-permission android:name="android.permission.BLUETOOTH" />
          <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
          <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
          <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
          <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
          <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="$URL_SCHEME"/>
          </intent-filter>
        </config-file>
        <source-file src="src/android/TinyCordovaPlugin.java" target-dir="src/info/kyorohiro/hello" />

    </platform>


</plugin>
